body {
  background: blue;
}

.container {
  background: red;
  border: 20px;
  border-style: dashed;
}

.col-md-12 {
  background: purple;
  border: 20px;
  border-style: dashed;
  border-color: yellow;
}


#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

.reset-button {
  background: green;
  text-align: center;
}

.btn {
  padding: 24px 50px;
}
